# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Seven-days.iml
# Datasource local storage ignored files
/../../../../../../:\Program Files (x86)\Seven-days\.idea\.idea.Seven-days\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
